#span1 {
  font-size: 7em;
}
#span2 {
  font-size: 6em;
}
#span3 {
  font-size: 5em;
}
#span4 {
  font-size: 4em;
}
#span5 {
  font-size: 5em;
}
#span6 {
  font-size: 6em;
}
#span7 {
  font-size: 7em;
}

#span8 {
  font-size: 7em;
  color: #ff0000;
}
#span9 {
  font-size: 7em;
  color: #0000ff;
}
#span10 {
  font-size: 7em;
  color: #37f8d3;
}
#span11 {
  font-size: 7em;
  color: #ff00ff;
}
#span12 {
  font-size: 7em;
  color: #000000;
}
#span13 {
  font-size: 7em;
  color: #123456;
}
#span14 {
  font-size: 7em;
  color: #324890;
}
